<%= render 'books/sidebar', book: @book %>

<h1>Users</h1>

<div class="users_index">
  <% @users.each do |user| %>
    <%= "プロフィール画像" %>
    <%= user.name %>
    <%= link_to "Show", user_path(user.id) %>
  <% end %>
</div>