<div class="flash">
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0">
  <div class="row">
<%= render 'books/sidebar', book: @book, user: @user %>

    <h4>Books</h4>
    <% @books.each do |book| %>
     <h4>プロフィール画像</h4>
     <%= link_to book.title, book_path(book.id) %>
     <%= book.body %>
    <% end %>
  </div>

</div>