<%= render 'books/sidebar', book: @book, user: @user %>

<h1>Books index</h1>

<div class="books_index">
  <% @books.each do |book| %>
  <%= link_to book.title, book_path(book.id) %>
  <%= book.body %>
  <% end %>
</div>